<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.monroe.team.runit.app" >

    <application
        android:name="org.monroe.team.runit.app.android.RunitApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.monroe.team.runit.app.android.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".android.BluePanelWidget"
            android:label="RunIT Search" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/blue_panel_widget_info" />
        </receiver>
        <receiver
            android:name=".android.TransparentPanelWidget"
            android:label="RunIT Search (White)" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/transperent_panel_widget_info" />
        </receiver>

        <activity
            android:name=".android.QuickSearchActivity"
            android:label="@string/title_activity_quick_search"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/NoAnimation">

        </activity>

    </application>

</manifest>
